# Angular
/dist/
/out-tsc/
/tmp/
/coverage/
/e2e/test-output/
/.angular/
.angular/

# Node
/node_modules/
/package-lock.json
/yarn.lock
/pnpm-lock.yaml

# Environment files
/.env
/src/environments/environment.local.ts

# IDE
/.angular-cli.json
/.ng/
.idea/
*.swp
*.swo

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db
